
body, html {
    height: 100%;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 180%;
    color: #666;
    text-align: center;
}

.parallax {
    display: flex;
    background-image: url("img/swoosh.svg"), linear-gradient(-135deg, #e16e2b 0%, #b12e6b 100%);
    min-height: 70%;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
    background-color: transparent;
}

.titleparallax {
    display: flex;
    background-image: url("img/swoosh.svg"), linear-gradient(-135deg, #e16e2b 0%, #b21f63 100%);
    min-height: 60%;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
    background-color: transparent;
}

.navparallax {

    background-image: url("img/swoosh.svg"), linear-gradient(-135deg, #e16e2b 0%, #b21f63 100%);
    min-height: 7%;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
    background-color: transparent;
  
}
.sponsorparallax {
    display: flex;
    background-image: url("img/swoosh.svg"), linear-gradient(-135deg, #e16e2b 0%, #b21f63 100%);
    min-height: 40%;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
    background-color: transparent;
}
.applyparallax {
    display: flex;
    background-image: url("img/swoosh.svg"), linear-gradient(-135deg, #e16e2b 0%, #b21f63 100%);
    min-height: 55%;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
    background-color: transparent;
}

.ivc{
    max-width: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.sponsors{
    max-width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-flow: row nowrap;
    
}

.secparallax {

    background-image: url("img/swoosh.svg"), linear-gradient(-180deg, #861039f6 0%, #cc1e1ea7 28%);
    min-height: 5%;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
    background-color: transparent;
    overflow: auto;
    padding: 20px;
}


img {
    width: 70%;
    border-radius: 2%;
}

.imgwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.rotate {
    transform: rotate(180deg);
}

.head {
    position: absolute;
    color: #fff;
    font-size: 500%;
    top:50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 20px;
    animation: drop 2.0s ease;
    cursor: pointer;
    font-family: 'Edosz';
    line-height: normal;
}


.edofont {
    font-family: 'Edosz';
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(216, 212, 212);
}
/* .notedo {
    font-family: 'notedo';
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(216, 212, 212);
} */

.a, .b, .c, .d, .e, .notedo {
    font-family: 'Futura';
    text-transform: uppercase;
    color: rgb(216, 212, 212);
}

.discord, .website, .highlights, .a, .b, .c, .d, .e{
    cursor: pointer;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-right: 1vw;
  }

li {
    display: inline;
    float: right;
    display: block;
    padding-inline: 15px;
    padding-top: 15px;
    color: #dddddd;
    font-family: "FUTURA";
  }
 


header {
    padding-top: 2vh;
}

footer {
    width: 100%;
    background-color: #323232;
    height: 2vh;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: inline;
    float: right;
    color: white;
}

@media (max-width:600px) {
    .head{
        font-size: 300%;
    }
    .parallax{
        min-height:50%;
    }
   .titleparallax{
    min-height: 50%;
   }
   .secparallax{
    opacity: 0.7;
   }
   .ivc{
    max-width: 80%;
   }
   .sponsors{
    max-width: 50%;
   }
   .sponsorparallax{
    min-height: 30%;
   }
   .applyparallax{
    min-height: 40%;
   }
   p{
    font-size: 90%;
   }
}

@font-face {
    font-family: 'Edosz';
    src: url(edosz.ttf);
}

@font-face {
    font-family: 'Futura';
    src: url(Futura.ttc);
}

@keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }


  @import url('https://fonts.googleapis.com/css?family=Ubuntu'); /*IMPORTANT*/
